        @media only screen and (max-width: 600px) {
            body {
                background-color: #ffffff;
            }
        }
        
        nav {
            width: 150px;
            float: left;
            display: inline;
            margin: 0;
            padding: 0;
            margin-right: 10px;
        }